name: Deploy Static Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Pre-deployment Server Check
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Pastikan rsync terpasang agar tidak error code 12
            apt-get update && apt-get install -y rsync
            # Pastikan folder target tersedia
            mkdir -p /var/www/my-website

      - name: Deploy files to Server
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          ARGS: "-av --delete" # Hapus 'z' jika koneksi internet server tidak stabil
          REMOTE_HOST: ${{ secrets.SERVER_IP }}
          REMOTE_USER: root
          TARGET: "/var/www/my-website"
          SOURCE: "/"
          EXCLUDE: "/.git/, /node_modules/, /certbot/" # Jangan timpa data sertifikat yang sudah ada

      - name: Finalize & Start Services
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/my-website
            # Jalankan docker compose
            docker compose up -d --build --remove-orphans
