name: Deploy Static Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy files to Server
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          # Menggunakan -avz agar lebih stabil dan informatif
          ARGS: "-avz --delete"
          REMOTE_HOST: ${{ secrets.SERVER_IP }}
          REMOTE_USER: root
          TARGET: "/var/www/my-website"
          SOURCE: "/"
          # Mengecualikan folder .git dan node_modules agar deploy lebih cepat
          EXCLUDE: "/.git/, /node_modules/"

      - name: Executing Remote SSH Commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Pastikan rsync terinstall di server (mencegah error code 12)
            if ! command -v rsync > /dev/null; then
              apt-get update && apt-get install -y rsync
            fi

            # Masuk ke folder project
            cd /var/www/my-website

            # Jalankan docker compose dengan file terbaru
            # Menggunakan --remove-orphans untuk membersihkan container lama yang tidak terpakai
            docker compose up -d --build --remove-orphans
