name: Deploy Static Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Pre-deployment Server Check
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            mkdir -p /var/www/my-website
            chmod 755 /var/www/my-website

      - name: Deploy files via SCP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "./*"
          target: "/var/www/my-website"
          rm: true # Membersihkan folder target sebelum copy
          # Kecualikan folder yang tidak perlu dikirim
          exclude: ".git,node_modules,certbot"

      - name: Finalize & Start Services
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/my-website
            # Pastikan file konfigurasi ada sebelum running
            if [ -f "docker-compose.yml" ]; then
                docker compose up -d --build --remove-orphans
            else
                echo "Error: docker-compose.yml not found!"
                exit 1
            fi
